.login-form {
    max-width: 500px;
    width: auto;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
}

.login-form > h4 {
    margin: 1.25rem 0;
}

.res {
    text-align: right;
}

@media (max-width: 576px) {
    .login-form {
        margin: 5rem 1.5rem;
    }

    .res {
        text-align: center;
        margin: 0.25rem 0;
    }
}
